<style>

	body{
		color:white;
		font-weight:bold; 

		background: url("back_home.png") fixed no-repeat; -webkit-background-size: cover; -o-background-size: cover; -moz-background-size: cover; background-size: cover; 

	}

</style>

<h1>.::Home:.</h1>
<p>Registrations system made in Ruby on Rails with MySQL.</p>





	