<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<h1>:Home.</h1>
			</div>
			<div class="form-group">
				<div class="jumbotron">
					<p>Prototype of a car catalog system made in Ruby on Rails with SQLite3 or PostgreSQL.</p>
				</div>
			</div>
		</div>
	</div>
</div>



	